.App {
  display: flex;
  flex-direction: column;
  background-color: #0f0f0f;
  height: 100%;
}

.topBar {
  flex: 0 0 auto;
}

.topBarSpacer {
  flex: 0 0 auto;
  height: 4rem;
}

.leftBar {
  color: white;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  margin: auto auto;
  padding: 1rem 1rem;
}


.mainContent {
  flex: 1 1 auto;
}

@media screen and (max-width: 900px) {
  .topBarSpacer {
    height: 3rem;
  }
}